<div class="hero">
    <div class="container">
        <div class="hero-text">
            <h1>The Best Way To Learn <br> Futuristic Technologies</h1>
            <a class="btn btn-primary" (click)="gotoCourse()">Discover Courses</a>
            <a class="btn btn-success" (click)="gotoJoin()">Join Us</a>
        </div>
    </div>
</div>
<section class="hero2">
    <div class="container">
        <div class="row mt-5 mb-5 pt-5">
            <div class="col-lg-6 mb-5">
                <img src="../../assets/bg2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2>Best E-learning Solution Ever</h2>
                <p> dolor sit amet consectetur adipisicing elit. Ut accusantium nemo excepturi minima natus cumque, fugit corrupti harum quaerat ad similique soluta nulla molestiae omnis temporibus consequatur! Ipsa voluptatibus dolorum illo veritatis harum eos deserunt nemo dolorem temporibus corrupti quo quis modi, porro odio voluptatum illum, tempora ipsum facilis aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique voluptatem quaerat eius reprehenderit, alias adipisci dicta quisquam ipsa perspiciatis voluptate labore laborum. Aspernatur, repellendus amet. Alias, laborum. Tenetur exercitationem illum vitae, dicta similique eum quia quam quo saepe officiis vel sapiente accusantium accusamus enim rem id omnis optio quis ut obcaecati libero. Sunt quas iusto, quam commodi tenetur obcaecati!</p>
            </div>
        </div>
    </div>
</section>

<section class="hero3">
    <div class="container">
        <div class="row mt-5 pt-5">
            
            <div class="col-lg-6 mb-5">
                <h2>High Potential Trainig system</h2>
                <p>Lorem Ut accusantium nemo excepturi minima natus cumque, similique soluta nulla molestiae omnis temporibus consequatur! Ipsa voluptatibus dolorum illo veritatis harum eos deserunt nemo dolorem temporibus corrupti quo quis modi, porro odio voluptatum illum, tempora ipsum facilis aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique voluptatem quaerat eius reprehenderit, alias adipisci dicta quisquam ipsa perspiciatis voluptate labore laborum. Aspernatur, repellendus amet. Alias, laborum. Tenetur exercitationem illum vitae, dicta similique eum quia quam quo saepe officiis vel sapiente accusantium accusamus enim rem id omnis optio quis ut obcaecati libero. Sunt quas iusto, quam commodi tenetur obcaecati!</p>
            </div>
            <div class="col-lg-6 mb-5 training1">
                <img src="../../assets/training.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="hero2">
    <div class="container">
        <div class="row mt-5 mb-5 pt-5">
            <div class="col-lg-6 mb-5">
                <img src="../../assets/b2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2>Supporting Mentors in 24 x 7</h2>
                <p> dolor sit amet consectetur adipisicing elit. Ut accusantium nemo excepturi minima natus cumque, fugit corrupti harum quaerat ad similique soluta nulla molestiae omnis temporibus consequatur! Ipsa voluptatibus dolorum illo veritatis harum eos deserunt nemo dolorem temporibus corrupti quo quis modi, porro odio voluptatum illum, tempora ipsum facilis aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus similique voluptatem quaerat eius reprehenderit, alias adipisci dicta quisquam ipsa perspiciatis voluptate labore laborum. Aspernatur, repellendus amet. Alias, laborum. Tenetur exercitationem illum vitae, dicta similique eum quia quam quo saepe officiis vel sapiente accusantium accusamus enim rem id omnis optio quis ut obcaecati libero. Sunt quas iusto, quam commodi tenetur obcaecati!</p>
            </div>
        </div>
    </div>
</section>


